<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pokazowy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Pokazowy.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>irek@motip.pl</value>
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value>p0niedzialek</value>
            </setting>
            <setting name="FtpSerwer" serializeAs="String">
                <value>ftp.motip.pl</value>
            </setting>
        </Pokazowy.Properties.Settings>
    </userSettings>
</configuration>